bkp/
docs/
prof/*
!prof/refs/
prof/refs/*
!prof/refs/mapas/
!prof/refs/mapas/**

scripts/*
!scripts/__init__.py
!scripts/grafo_refs/
!scripts/grafo_refs/**

tests/*
!tests/__init__.py
!tests/grafo_refs/
!tests/grafo_refs/**
tmp/
.venv/
__pycache__/
*.py[cod]
